.customer-list {
  flex-direction: column;
  letter-spacing: 0.65px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  display: flex;

  &__row {
    height: 67px;

    & :last-child {
      text-align: center;
    }
  }

  &__column {
    border-bottom: 1px solid $color-border-gray;

    // ! If pixel perfect
    &:first-child {
      padding-right: 52px;
    }

    &:nth-child(2) {
      padding-right: 61px;
    }

    &:nth-child(3) {
      padding-right: 44px;
    }

    &:nth-child(4) {
      padding-right: 36px;
    }

    &:nth-child(5) {
      padding-right: 40px;
    }

    // ! If not pixel perfect
    // padding-right: 48px;

    &:last-child {
      padding-right: 0;
    }

    &-photo {
      letter-spacing: 1.1px;
    }
  }

  &__header {
    color: $color-text-gray;
    height: 49px;

    & :nth-child(n) {
      border-bottom: 0;
    }

    &-line {
      border-bottom: 1px solid $color-border-gray;
      position: absolute;
      width: calc(100% + 38px * 2);
      left: -37px;
      top: 50px;
    }
  }
}

@media (max-width: 1236px) {
  .customer-list__header {
    &-line {
      display: none;
    }

    & :nth-child(n){
      border-bottom: 1px solid $color-border-gray;
    }
  }
}

