.pagination {
  flex-direction: row;
  user-select: none;
  display: flex;

  &__item {
    background-color: $color-background-gray;
    border: 1px solid $color-border-gray;
    color: $color-text-dark-gray;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
    font-size: 0.8rem;
    transition: 0.15s;
    cursor: pointer;
    display: flex;
    height: 22px;
    width: 24px;

    &:not(&--active) {
      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.8);
      }
    }

    &--active {
      background-color: $color-background-violet;
      color: $color-text-white;
      height: 22px;
      width: 24px;
    }

    &:last-child {
      margin-right: 1px;
    }
  }

  &__button {
    &--prev::before {
      content: "<";
    }

    &--next::after {
      content: ">";
    }
  }

  &__etc {
    align-self: flex-end;
    padding-bottom: 2px;
    margin-right: 12px;
    display: flex;
  }
}
