.sidebar {
  background-color: $color-background-white;
  max-width: calc(306px - 28px * 2);
  padding: 37px 28px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  
  &-button {
    background-color: $color-background-white;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    display: none;
    
    &--open {
      border: 2px solid $color-border-gray;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border-right: 0;
      transition: .4s;
      height: 60px;
      width: 60px;
      left: -60px;
      top: 25px;
    }
    
    &--close {
      height: 30px;
      width: 30px;
      right: 20px;
      top: 40px;

      &__line {
        height: 2px;
        width: 30px;
        background-color: $color-dark-gray;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__wrapper {
    justify-content: space-between;
    height: calc(100vh - 37px);
    flex-direction: column;
    display: flex;
  }

  &__logo {
    margin-bottom: 51px;
  }

  &__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__user {
    flex-direction: row;
    margin-bottom: 76px;
    display: flex;
    &-img {
      border-radius: 50%;
      margin-right: 12px;
      overflow: hidden;
      height: 42px;
      width: 42px;
      & + img {
        width: 100%;
      }
    }

    &-text {
      justify-content: center;
      flex-direction: column;
      display: flex;

      &-name {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 0.9rem;
      }

      &-role {
        color: $color-dark-gray;
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1236px) {
  .sidebar {
    transition: 0.2s;
    right: -306px;
    left: auto;
    
    &--active {
      right: 0;
    }

    &-button {
      display: flex;

    }
  }
}
