- const customers = [{name:"Jane Cooper",company:"Microsoft",phone:"(225) 555-0118",email:"jane@microsoft.com",country:"United States",status:true},{name:"Floyd Miles",company:"Yahoo",phone:"(205) 555-0100",email:"floyd@yahoo.com",country:"Kiribati",status:false},{name:"Ronald Richards",company:"Adobe",phone:"(302) 555-0107",email:"ronald@adobe.com",country:"Israel",status:false},{name:"Marvin McKinney",company:"Tesla",phone:"(252) 555-0126",email:"marvin@tesla.com",country:"Iran",status:true},{name:"Jerome Bell",company:"Google",phone:"(629) 555-0129",email:"jerome@google.com",country:"Réunion",status:true},{name:"Kathryn Murphy",company:"Microsoft",phone:"(406) 555-0120",email:"kathryn@microsoft.com",country:"Curaçao",status:true},{name:"Jacob Jones",company:"Yahoo",phone:"(208) 555-0112",email:"jacob@yahoo.com",country:"Brazil",status:true},{name:"Kristin Watson",company:"Facebook",phone:"(704) 555-0127",email:"kristin@facebook.com",country:"Åland Islands",status:false}];

mixin customers-section()
  .customers-section
    .customers-section__wrapper
      h1.customers-section-title Hello Evano👋🏼,
      .customers-section__content
        .customers-section__content__header
          .customers-section__content__header-text
            h1.customers-section__content__header-title All Customers
            h2.customers-section__content__header-subtitle Active Members
          .customers-section__content__header-search
            +search()
        .customers-section__content__main
          +customer-list(customers)
        .customers-section__content__footer
          .customers-section__content__footer-text Showing data 1 to 8 of 256K entries
          .-customers-section__content__footer-pagination
          +pagination()

