include ./customers-section
include ./customer-list
include ./active-status
include ./pagination
include ./sidebar
include ./search
include ./loader
include ./logo
include ./menu
include ./main