mixin pagination
  .pagination
    .pagination__item
      .pagination__button.pagination__button--prev
    a.pagination__item
      .pagination__item__content 1
    a.pagination__item
      .pagination__item__content 2
    a.pagination__item
      .pagination__item__content 3
    a.pagination__item
      .pagination__item__content 4
    .pagination__etc ...
    a.pagination__item
      .pagination__item__content 40
    .pagination__item
      .pagination__button.pagination__button--next